*.pyc
*.o

# HooksOfSavior project ignored files
clienthooks/HooksOfSavior/HooksOfSavior/log.txt
clienthooks/HooksOfSavior/HooksOfSavior/HooksOfSavior.layout
clienthooks/HooksOfSavior/HooksOfSavior/HooksOfSavior.depend

# LuaSavior project ignored files
clienthooks/HooksOfSavior/LuaSavior/log.txt
clienthooks/HooksOfSavior/LuaSavior/LuaSavior.layout
clienthooks/HooksOfSavior/LuaSavior/LuaSavior.depend
