*.pyc
*.o
*.sdf
*.opensdf
*.obj
*.ilk
*.pdb
*.exe
*.tlog
*.log
*.layout
*.depend
*.lastbuildstate

# HooksOfSavior project ignored files
clienthooks/HooksOfSavior/HooksOfSavior/log.txt

# LuaSavior project ignored files
clienthooks/HooksOfSavior/LuaSavior/log.txt

# R1EMU doxygen documentation
server/R1EMU/projects/codeblocks/R1EMU/doxygen