*.pyc
*.o
*.sdf
*.opensdf
*.obj
*.ilk
*.pdb
*.exe
*.tlog
*.log
*.layout
*.depend
*.lastbuildstate
*.stackdump
*.idb
*.mak
*.rdb

# HooksOfSavior project ignored files
clienthooks/HooksOfSavior/HooksOfSavior/log.txt

# LuaSavior project ignored files
clienthooks/HooksOfSavior/LuaSavior/log.txt

# CameraOfSavior ignored files
clienthooks/HooksOfSavior/CameraOfSavior/log.txt

# DisableEncryption ignored files
clienthooks/HooksOfSavior/DisableEncryption/log.txt

# PacketLogger ignored files
clienthooks/HooksOfSavior/PacketLogger/log.txt
clienthooks/HooksOfSavior/PacketLogger/packets/*
clienthooks/HooksOfSavior/PacketLogger/handlers.txt

# GetClientPacketBuilders ignored files
clienthooks/HooksOfSavior/getClientPacketBuilders/getClientPacketBuilders_log.txt

# R1EMU doxygen documentation
server/R1EMU/projects/codeblocks/R1EMU/doxygen

# Don't upload Linux binaries
server/R1EMU/bin/BarrackServer
server/R1EMU/bin/ZoneServer
server/R1EMU/bin/GlobalServer

# Don't upload Zone logs
server/R1EMU/bin/*.txt

# Don't upload custom launchers
server/R1EMU/kill.sh
server/R1EMU/launch.sh